<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Homes of Home Owner</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="home-owners-homes.component.css">
</head>
<body>

<div class="container my-5">
  <h1 class="page-title">Mis hogares</h1>
  <div class="card-container">
    <div class="card shadow-sm h-100" *ngFor="let home of homes">
      <div class="card-body">
        <h5 class="card-title">Home ID: {{ home.id }}</h5>
        <p class="card-text">Dirección: {{ home.street }}</p>
        <p class="card-text">Número de Puerta: {{ home.doorNumber }}</p>
        <div class="mt-auto">
          <button class="btn btn-primary btn-block mb-2" (click)="openModal(home, 'addMembers')">
            <i class="fas fa-user-plus"></i> Agregar Miembro
          </button>
          <button class="btn btn-secondary btn-block mb-2" (click)="openModal(home, 'addDevice')">
            <i class="fas fa-plug"></i> Asociar Dispositivo
          </button>
          <button class="btn btn-info btn-block mb-2"  (click)="openModal(home, 'showMembers')">
            <i class="fas fa-users"></i> Listar Miembros
          </button>

          <button class="btn btn-info btn-block mb-2" (click)="openModal(home, 'showDevices')">
            <i class="fas fa-tablet-alt"></i> Listar Dispositivos
          </button>

          <button class="btn btn-info btn-block mb-2" (click)="openModal(home, 'addRoom')">
            <i class="fas fa-bed"></i> Agregar cuarto
          </button>

        </div>
    </div>
    <ng-template #noHomes>
      <p class="text-center">No se encontraron casas para este propietario.</p>
    </ng-template>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalRooms" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfRoomsOpen" [style.display]="isModalOfRoomsOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'addRoom')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar un cuarto a la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('addRoom')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #roomForm="ngForm" (ngSubmit)="postRoom()" novalidate>

          <div class="form-group">

            <label for="roomName">Nombre</label>
            <input type="text" class="form-control" id="roomName"
                   [(ngModel)]="newRoom.Name" name="roomName"
                   required placeholder="Ingrese el nombre">
            <div *ngIf="roomForm.submitted && roomForm.controls['roomName']?.invalid" class="text-danger">
              El nombre es requerido y debe ser válido.
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('addRoom')">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!roomForm.valid" (click)="saveRoom()">Guardar</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="myModalMembers" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfMembersOpen" [style.display]="isModalOfMembersOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'addMembers')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Miembro a la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('addMembers')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #memberForm="ngForm" (ngSubmit)="postMember()" novalidate>

          <div class="form-group">
            <label for="memberEmail">Correo Electrónico</label>
            <input type="email" class="form-control" id="memberEmail"
                   [(ngModel)]="newMember.email" name="memberEmail"
                   required placeholder="Ingrese el correo electrónico">
            <div *ngIf="memberForm.submitted && memberForm.controls['memberEmail']?.invalid" class="text-danger">
              El correo es requerido y debe ser válido.
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="canViewDevices"
                   [(ngModel)]="newMember.canViewDevices" name="canViewDevices">
            <label class="form-check-label" for="canViewDevices">
              ¿Tiene permiso para ver la lista de dispositivos?
            </label>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="canAddDevices"
                   [(ngModel)]="newMember.canAddDevices" name="canAddDevices">
            <label class="form-check-label" for="canAddDevices">
              ¿Tiene permiso para agregar dispositivos?
            </label>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="receiveNotifications"
                   [(ngModel)]="newMember.receiveNotifications" name="receiveNotifications">
            <label class="form-check-label" for="receiveNotifications">
              ¿Quiere recibir notificaciones?
            </label>
          </div>

          <div *ngIf="feedback" class="alert alert-info">
            {{ feedback }}
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('addMembers')">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!memberForm.valid" (click)="saveMember()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalDevice" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfDeviceOpen" [style.display]="isModalOfDeviceOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'addDevice')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar dispositivo a la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('addDevice')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #deviceForm="ngForm" (ngSubmit)="postDevice()" novalidate>

          <div class="form-group">
            <label for="deviceId">Id del dispositivo:</label>
            <input type="number" class="form-control" id="deviceId"
                   [(ngModel)]="newDevice.deviceId" name="deviceId"
                   required placeholder="Ingrese el id del dispositivo">
            <div *ngIf="deviceForm.submitted && deviceForm.controls['deviceId']?.invalid" class="text-danger">
              El id del dispositivo es requerido y debe ser válido.
            </div>
          </div>

          <div class="form-group">
            <label for="room">Seleccionar Cuarto:</label>
            <select class="form-control" id="room" [(ngModel)]="newDevice.roomName" name="room" required>
              <option *ngFor="let room of listOfRooms" [value]="room">{{ room }}</option>
            </select>
            <div *ngIf="deviceForm.submitted && deviceForm.controls['room']?.invalid" class="text-danger">
              Seleccionar un cuarto es obligatorio.
            </div>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isConnected"
                   [(ngModel)]="newDevice.isConnected" name="isConnected">
            <label class="form-check-label" for="isConnected">
              ¿Está conectado?
            </label>
          </div>

          <div *ngIf="feedback" class="alert alert-info">
            {{ feedback }}
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('addDevice')">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!deviceForm.valid" (click)="postDevice()">Guardar</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="myModalShowMembers" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfListOfMembersOpen" [style.display]="isModalOfListOfMembersOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'showMembers')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar Miembros de la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('showMembers')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Alerta de Feedback -->
        <div *ngIf="feedback" class="alert alert-info" role="alert">
          {{ feedback }}
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Email</th>
            <th scope="col">¿Tiene permiso para asociar dispositivos?</th>
            <th scope="col">¿Tiene permiso para listar dispositivos?</th>
            <th scope="col">¿Recibe Notificaciones?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of members">
            <td>
              <img [src]="userPhotoUrl(member.photo)" alt="Foto de {{ member.fullName }}" style="width: 50px; height: 50px; object-fit: cover;" />
            </td>
            <td>{{ member.fullName }}</td>
            <td>{{ member.email }}</td>
            <td>
              <i *ngIf="member.hasPermissionToAddADevice" class="fas fa-check text-success"></i>
              <i *ngIf="!member.hasPermissionToAddADevice" class="fas fa-times text-danger"></i>
            </td>
            <td>
              <i *ngIf="member.hasPermissionToListDevices" class="fas fa-check text-success"></i>
              <i *ngIf="!member.hasPermissionToListDevices" class="fas fa-times text-danger"></i>
            </td>
            <td>
              <button class="btn" (click)="toggleNotification(member)" style="background-color: transparent;">
                <i
                  class="fas"
                  [ngClass]="{
                      'fa-bell text-success': member.receivesNotifications,
                      'fa-bell-slash text-danger': !member.receivesNotifications
                    }"
                ></i>
              </button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalShowDevices" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfListOfDevicesOpen"
     [style.display]="isModalOfListOfDevicesOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'showDevices')">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar dispositivos de la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('showDevices')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="errorMessage !== ''" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div class="form-group mb-3" >
          <label for="filterRoom" class="font-weight-bold">Filtrar por cuarto:</label>
          <input type="text" id="filterRoom" class="form-control mb-2" [(ngModel)]="roomFilter" placeholder="Escribe el nombre del cuarto" />
        </div>

        <div class="form-row">
          <div class="col">
            <button type="button" class="input-btn" (click)="getDevices(selectedHome?.id)">Buscar</button>
          </div>
        </div>


        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">ID del Hardware</th>
            <th scope="col">Modelo</th>
            <th scope="col">¿Conectado?</th>
            <th scope="col">Cuarto</th>
            <th scope="col">Status</th>
            <th scope="col">Acción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let device of devices">
            <td>
              <img [src]="device.photo" alt="Foto" style="width: 50px; height: 50px; object-fit: cover;" />
            </td>
            <td>{{ device.name }}</td>
            <td>{{ device.hardwareId }}</td>
            <td>{{ device.model }}</td>
            <td>
              <i *ngIf="device.isConnected" class="fas fa-check text-success"></i>
              <i *ngIf="!device.isConnected" class="fas fa-times text-danger"></i>
            </td>
            <td>{{ device.roomName }}</td>
            <td>{{ device.status }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="openEditAliasForm(device)">
                Cambiar alias
              </button>

              <div *ngIf="deviceBeingEdited && device.hardwareId === deviceBeingEdited.hardwareId" class="mt-2">
                <form (ngSubmit)="saveAlias()">
                  <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="newAlias" placeholder="Nuevo alias"
                           name="newAlias" required>
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-success">Guardar</button>
                      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
                    </div>
                  </div>
                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('showDevices')">Cerrar</button>
      </div>
    </div>
  </div>
</div>








<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>




