USE [master]
GO
/****** Object:  Database [sqlserver]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE DATABASE [sqlserver]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sqlserver', FILENAME = N'/var/opt/mssql/data/sqlserver.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sqlserver_log', FILENAME = N'/var/opt/mssql/data/sqlserver_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sqlserver].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sqlserver]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerId] [bigint] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[RUT] [nvarchar](max) NOT NULL,
	[LogoURL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Model] [bigint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PhotoURLs] [nvarchar](max) NOT NULL,
	[CompanyId] [bigint] NULL,
	[Kind] [nvarchar](21) NOT NULL,
	[LocationType] [int] NULL,
	[Functionalities] [nvarchar](max) NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceUnits]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceUnits](
	[HardwareId] [uniqueidentifier] NOT NULL,
	[DeviceId] [bigint] NOT NULL,
	[IsConnected] [bit] NOT NULL,
	[HomeId] [bigint] NULL,
 CONSTRAINT [PK_DeviceUnits] PRIMARY KEY CLUSTERED 
(
	[HardwareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Homes]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Homes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerId] [bigint] NOT NULL,
	[Street] [nvarchar](max) NOT NULL,
	[DoorNumber] [int] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[MaximumMembers] [int] NOT NULL,
	[HomeOwnerId] [bigint] NULL,
 CONSTRAINT [PK_Homes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[HasPermissionToListDevices] [bit] NOT NULL,
	[HasPermissionToAddADevice] [bit] NOT NULL,
	[ReceivesNotifications] [bit] NOT NULL,
	[HomeId] [bigint] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HomeId] [bigint] NOT NULL,
	[MemberId] [bigint] NOT NULL,
	[DeviceUnitHardwareId] [uniqueidentifier] NOT NULL,
	[Event] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Read] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Kind] [nvarchar](13) NOT NULL,
	[UserId] [bigint] NULL,
	[HasACompleteCompany] [bit] NULL,
	[CompanyId] [bigint] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/8/2024 6:44:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241007222452_NewMigration', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241008033303_MigracionCompanyOwnerLoading', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241008033357_MigracionCompanyOwnerLoading2', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [OwnerId], [Name], [RUT], [LogoURL]) VALUES (1, 3, N'Dragonfly Inn', N'765432109', N'https://www.vectorkhazana.com/assets/images/products/Dragonfly.png')
INSERT [dbo].[Companies] ([Id], [OwnerId], [Name], [RUT], [LogoURL]) VALUES (2, 6, N'Amazon IoT', N'57349854728', N'https://play-lh.googleusercontent.com/tXi5rTVQdi3Nk24wdUKOED1NA0ovw6GsZmfLSjZQNRmLUDtdAPVaas7NujI9Pc4ttrU')
INSERT [dbo].[Companies] ([Id], [OwnerId], [Name], [RUT], [LogoURL]) VALUES (3, 8, N'Kim Devices', N'345365346', N'https://play-lh.googleusercontent.com/tXi5rTVQdi3Nk24wdUKOED1NA0ovw6GsZmfLSjZQNRmLUDtdAPVaas7NujI9Pc4ttrU')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Id], [Name], [Model], [Description], [PhotoURLs], [CompanyId], [Kind], [LocationType], [Functionalities]) VALUES (1, N'Google Nest Outdoor Wired Security Standard Surveilance Camera', 2400, N'Google Nest Outdoor Wired Security Standard Surveilance Camera (2 Pack) - NC2400ES Bundle with Deco Gear 2 Pack WiFi Smart Plug (4 Items)', N'["https://m.media-amazon.com/images/I/61peqnk1FSL._AC_SL1000_.jpg","https://m.media-amazon.com/images/I/61Vz\u002BoifEuL._AC_SL1000_.jpg","https://m.media-amazon.com/images/I/5166StS2CBL._AC_SL1000_.jpg"]', 1, N'SecurityCamera', 1, N'[1]')
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
INSERT [dbo].[DeviceUnits] ([HardwareId], [DeviceId], [IsConnected], [HomeId]) VALUES (N'3c46bfc7-bd2b-4122-a1ce-0e43a3b8f1a6', 2, 1, 2)
INSERT [dbo].[DeviceUnits] ([HardwareId], [DeviceId], [IsConnected], [HomeId]) VALUES (N'ff4431d6-4f12-4602-bf2c-0fa64470713b', 2, 0, 1)
INSERT [dbo].[DeviceUnits] ([HardwareId], [DeviceId], [IsConnected], [HomeId]) VALUES (N'fd0d9cc5-8dfd-41fc-a64e-7ca8234a543d', 1, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Homes] ON 

INSERT [dbo].[Homes] ([Id], [OwnerId], [Street], [DoorNumber], [Latitude], [Longitude], [MaximumMembers], [HomeOwnerId]) VALUES (1, 2, N'Pearl St', 233, 41.7637, 72.6851, 5, 2)
INSERT [dbo].[Homes] ([Id], [OwnerId], [Street], [DoorNumber], [Latitude], [Longitude], [MaximumMembers], [HomeOwnerId]) VALUES (2, 5, N'Main St', 453, 25.0534, 75.2345, 10, 5)
INSERT [dbo].[Homes] ([Id], [OwnerId], [Street], [DoorNumber], [Latitude], [Longitude], [MaximumMembers], [HomeOwnerId]) VALUES (3, 7, N'Second St', 385, 24.3452, 23.9348, 1, 7)
SET IDENTITY_INSERT [dbo].[Homes] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [UserId], [HasPermissionToListDevices], [HasPermissionToAddADevice], [ReceivesNotifications], [HomeId]) VALUES (1, 1, 1, 0, 1, 1)
INSERT [dbo].[Members] ([Id], [UserId], [HasPermissionToListDevices], [HasPermissionToAddADevice], [ReceivesNotifications], [HomeId]) VALUES (2, 4, 1, 0, 1, 1)
INSERT [dbo].[Members] ([Id], [UserId], [HasPermissionToListDevices], [HasPermissionToAddADevice], [ReceivesNotifications], [HomeId]) VALUES (3, 5, 1, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [HomeId], [MemberId], [DeviceUnitHardwareId], [Event], [CreatedAt], [Read], [ReadAt]) VALUES (1, 1, 1, N'8f56ab9e-7ca9-4897-ae3b-af5c36ae5920', N'Movement detected', CAST(N'2024-10-08T09:04:35.4790000' AS DateTime2), 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [HomeId], [MemberId], [DeviceUnitHardwareId], [Event], [CreatedAt], [Read], [ReadAt]) VALUES (2, 1, 2, N'8f56ab9e-7ca9-4897-ae3b-af5c36ae5920', N'Movement detected', CAST(N'2024-10-08T09:04:35.5750000' AS DateTime2), 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [HomeId], [MemberId], [DeviceUnitHardwareId], [Event], [CreatedAt], [Read], [ReadAt]) VALUES (3, 1, 3, N'8f56ab9e-7ca9-4897-ae3b-af5c36ae5920', N'Movement detected', CAST(N'2024-10-08T09:04:35.5810000' AS DateTime2), 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Kind], [UserId], [HasACompleteCompany], [CompanyId]) VALUES (1, N'Administrator', 1, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Kind], [UserId], [HasACompleteCompany], [CompanyId]) VALUES (2, N'HomeOwner', 2, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Kind], [UserId], [HasACompleteCompany], [CompanyId]) VALUES (3, N'CompanyOwner', 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Sessions] ([Id], [UserId]) VALUES (N'ef02f7d5-5d82-4c03-9775-08dce73bc90e', 1)
INSERT [dbo].[Sessions] ([Id], [UserId]) VALUES (N'ee4ae5d2-e167-46bb-9776-08dce73bc90e', 2)
INSERT [dbo].[Sessions] ([Id], [UserId]) VALUES (N'ad718cc6-bc27-4719-9778-08dce73bc90e', 2)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [CreatedAt], [Photo], [Name], [Surname], [Password], [Email]) VALUES (1, CAST(N'2024-10-07T22:51:02.0950000' AS DateTime2), N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3qCM3wTZo3M9KpWjlUrWfKKBroM33YzNpmg&s', N'Emily', N'Gilmore', N'Password1%', N'emilygilmore@gmail.com')
INSERT [dbo].[Users] ([Id], [CreatedAt], [Photo], [Name], [Surname], [Password], [Email]) VALUES (2, CAST(N'2024-10-07T22:53:53.8880000' AS DateTime2), N'https://static.wikia.nocookie.net/gilmoregirls/images/e/e7/3richard.jpeg/revision/latest?cb=20170623151348', N'Richard', N'Gilmore', N'Password1%', N'richardgilmore@gmail.com')
INSERT [dbo].[Users] ([Id], [CreatedAt], [Photo], [Name], [Surname], [Password], [Email]) VALUES (3, CAST(N'2024-10-07T22:55:45.9830000' AS DateTime2), NULL, N'Lorelai', N'Gilmore', N'Password1%', N'lorelaigilmore@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Companies_OwnerId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Companies_OwnerId] ON [dbo].[Companies]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devices_CompanyId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_CompanyId] ON [dbo].[Devices]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceUnits_DeviceId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceUnits_DeviceId] ON [dbo].[DeviceUnits]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceUnits_HomeId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceUnits_HomeId] ON [dbo].[DeviceUnits]
(
	[HomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homes_HomeOwnerId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homes_HomeOwnerId] ON [dbo].[Homes]
(
	[HomeOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homes_OwnerId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Homes_OwnerId] ON [dbo].[Homes]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Members_HomeId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Members_HomeId] ON [dbo].[Members]
(
	[HomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Members_UserId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Members_UserId] ON [dbo].[Members]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_DeviceUnitHardwareId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_DeviceUnitHardwareId] ON [dbo].[Notifications]
(
	[DeviceUnitHardwareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_HomeId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_HomeId] ON [dbo].[Notifications]
(
	[HomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_MemberId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_MemberId] ON [dbo].[Notifications]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_CompanyId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Roles_CompanyId] ON [dbo].[Roles]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_UserId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Roles_UserId] ON [dbo].[Roles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sessions_UserId]    Script Date: 10/8/2024 6:44:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sessions_UserId] ON [dbo].[Sessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Users_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Users_OwnerId]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Companies_CompanyId]
GO
ALTER TABLE [dbo].[DeviceUnits]  WITH CHECK ADD  CONSTRAINT [FK_DeviceUnits_Devices_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Devices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceUnits] CHECK CONSTRAINT [FK_DeviceUnits_Devices_DeviceId]
GO
ALTER TABLE [dbo].[DeviceUnits]  WITH CHECK ADD  CONSTRAINT [FK_DeviceUnits_Homes_HomeId] FOREIGN KEY([HomeId])
REFERENCES [dbo].[Homes] ([Id])
GO
ALTER TABLE [dbo].[DeviceUnits] CHECK CONSTRAINT [FK_DeviceUnits_Homes_HomeId]
GO
ALTER TABLE [dbo].[Homes]  WITH CHECK ADD  CONSTRAINT [FK_Homes_Roles_HomeOwnerId] FOREIGN KEY([HomeOwnerId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Homes] CHECK CONSTRAINT [FK_Homes_Roles_HomeOwnerId]
GO
ALTER TABLE [dbo].[Homes]  WITH CHECK ADD  CONSTRAINT [FK_Homes_Users_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Homes] CHECK CONSTRAINT [FK_Homes_Users_OwnerId]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Homes_HomeId] FOREIGN KEY([HomeId])
REFERENCES [dbo].[Homes] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Homes_HomeId]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_DeviceUnits_DeviceUnitHardwareId] FOREIGN KEY([DeviceUnitHardwareId])
REFERENCES [dbo].[DeviceUnits] ([HardwareId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_DeviceUnits_DeviceUnitHardwareId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Homes_HomeId] FOREIGN KEY([HomeId])
REFERENCES [dbo].[Homes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Homes_HomeId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Members_MemberId]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Users_UserId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Users_UserId]
GO
USE [master]
GO
