<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Notificaciones</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container my-5">
  <h1 class="page-title mb-4">Notificaciones</h1>

  <form class="mb-4">
    <div class="form-row">
      <div class="col">
        <select class="form-control" [(ngModel)]="selectedKind" name="kind">
          <option value="">Filtrar por tipo</option>
          <option *ngFor="let type of deviceTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="col">
        <select class="form-control" [(ngModel)]="selectedRead" name="read">
          <option [value]="false">No leído</option>
          <option [value]="true">Leído</option>
        </select>
      </div>

      <div class="col">
        <input
          type="date"
          class="form-control"
          [(ngModel)]="selectedCreatedDate"
          name="createdDate"
          [ngModelOptions]="{standalone: true}" />
      </div>

      <div class="col">
        <input
          type="date"
          class="form-control"
          [(ngModel)]="selectedReadDate"
          name="readDate"
          [ngModelOptions]="{standalone: true}" />
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <button type="button" class="input-btn" (click)="getNotifications()">Buscar</button>
      </div>
    </div>
  </form>



  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Evento</th>
      <th>Dispositivo</th>
      <th>Estado</th>
      <th>Creado</th>
      <th>Leido</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notification of notifications">
      <td>{{ notification.event }}</td>
      <td>{{ notification.deviceKind }}</td>
      <td>
        <i class="bi" [ngClass]="{'bi-check-circle text-success': notification.read, 'bi-x-circle text-danger': !notification.read}"></i>
        {{ notification.read ? 'Leído' : 'No leído' }}
      </td>
      <td>{{ notification.createdAt | date: 'yyyy-MM-dd HH:mm' }}</td>
      <td>{{ notification.readAt | date: 'yyyy-MM-dd HH:mm' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
