<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

</head>
<body>

<div class="welcome-container">
  <h1 class="welcome-title">¡Hola, {{ userName }} usted tiene dos roles!</h1>
  <p>¿Con qué rol desea ingresar?</p>

  <div class="button-container" >
    <a class="btn btn-primary" (click)="goToCompanyOwner()">
      <i class="bi bi-house-door"></i> Ingresar como dueño de hogar
    </a>

    <a *ngIf="rol === 'administrator'" class="btn btn-primary" (click)="goToAdmin()">
      <i class="bi bi-person-badge"></i> Ingresar como Administrador
    </a>

    <a *ngIf="rol !== 'administrator'" class="btn btn-primary" (click)="goToHomeOwner()">
      <i class="bi bi-building"></i> Ingresar como dueño de empresa
    </a>


  </div>
</div>


<!-- Enlace a Bootstrap JS y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

