<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de dueño de hogar</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="welcome-container">
  <button (click)="goBack()" class="back-btn">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h1 class="welcome-title">Creación de Dispositivo</h1>
  <form (ngSubmit)="createDevice(deviceName, deviceType, deviceModel, deviceDescription, deviceFunctionalities, deviceLocationType, devicePhotoUrls)" #createDeviceForm="ngForm" novalidate>
    <p>¿Qué tipo de dispositivo deseas crear?</p>
    <select class="form-control" [(ngModel)]="deviceType" name="kind" id="kind">
      <option value="" disabled selected>Selecciona un tipo</option>
      <option *ngFor="let type of possibleDeviceTypes" [value]="type">{{ type }}</option>
    </select>

    <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" [(ngModel)]="deviceName" #name="ngModel" required placeholder="Ingresa un nombre">
      <div *ngIf="name.invalid && (name.touched || createDeviceForm.submitted)" class="error-message">
        <p>El nombre es obligatorio.</p>
      </div>
    </div>

    <div class="input-group">
      <label for="model">Modelo</label>
      <input type="text" id="model" name="model" [(ngModel)]="deviceModel" #model="ngModel" required placeholder="Ingresa un modelo">
      <div *ngIf="model.invalid && (model.touched || createDeviceForm.submitted)" class="error-message">
        <p>El modelo es obligatorio.</p>
      </div>
    </div>

    <div class="input-group">
      <label for="description">Descripción</label>
      <input type="description" id="description" name="description" [(ngModel)]="deviceDescription" #description="ngModel" required placeholder="Ingresa una descripción">
      <div *ngIf="description.invalid && (description.touched || createDeviceForm.submitted)" class="error-message">
        <p>Ingresa una descripción válida.</p>
      </div>
    </div>

    <div class="input-group" *ngIf="deviceType">
      <label for="functionalities">Funcionalidades</label>
      <select id="functionalities" multiple [(ngModel)]="deviceFunctionalities" name="functionalities" class="form-control">
        <option *ngFor="let functionality of functionalitiesByType[deviceType]" [value]="functionality">
          {{ functionality }}
        </option>
      </select>
    </div>

    <button type="submit" class="input-btn" [disabled]="createDeviceForm.invalid">Crear dispositivo</button>
  </form>
  <p class="feedback">{{ feedback }}</p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
