
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #082849;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
  }

  .btn {
    width: 200px;
    margin: 10px;
  }

  .welcome-container {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    position: relative;
  }

  .welcome-title {
    color: #6c5ce7;
    margin-bottom: 20px;
  }

  .btn-create-home {
    background-color: #6c5ce7;
    border-color: #6c5ce7;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
  }

  .btn-create-home i {
    margin-right: 10px;
  }

  .btn-create-home:hover {
    background-color: #5a4ec9;
    border-color: #5a4ec9;
  }

  .table th, .table td {
    word-wrap: break-word;
}

.table td:last-child, .table th:last-child {
  width: 200px;
  word-wrap: break-word;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table {
  width: 100%;
  table-layout: auto;
}

.role-selection label {
  display: block;
  margin-bottom: 10px;
  padding: 7px;
  margin: 2px;
}

input[type="radio"] {
  margin-right: 7px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-header h5 {
  font-weight: bold;
}

.company-details p {
  font-size: 1.1rem;
  color: #333;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  padding: 1rem 2rem;
  border-top: none;
}
