<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Homes of Home Owner</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="homesOfHomeOwner.component.css">
</head>
<body>

<div class="container mt-4">
  <h1 class="text-center mb-4">Lista de mis hogares</h1>
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let home of homes">
      <div class="card shadow-sm d-flex flex-column h-100">
        <div class="card-body flex-grow-1">
          <h5 class="card-title">Home ID: {{ home.id }}</h5>
          <p class="card-text">Dirección: {{ home.street }}</p>
          <p class="card-text">Número de Puerta: {{ home.doorNumber }}</p>
          <div class="mt-auto">
            <button class="btn btn-primary btn-block mb-2" (click)="openModal(home, 'addMembers')">
              <i class="fas fa-user-plus"></i> Agregar Miembro
            </button>
            <button class="btn btn-secondary btn-block mb-2" (click)="openModal(home, 'addDevice')">
              <i class="fas fa-plug"></i> Asociar Dispositivo
            </button>
            <button class="btn btn-info btn-block mb-2"  (click)="openModal(home, 'showMembers')">
              <i class="fas fa-users"></i> Listar Miembros
            </button>

            <button class="btn btn-info btn-block mb-2" (click)="openModal(home, 'showDevices')">
              <i class="fas fa-tablet-alt"></i> Listar Dispositivos
            </button>

          </div>
        </div>
      </div>
    </div>
    <ng-template #noHomes>
      <p class="text-center">No se encontraron casas para este propietario.</p>
    </ng-template>
  </div>
</div>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="myModalMembers" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfMembersOpen" [style.display]="isModalOfMembersOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'addMembers')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Miembro a la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('addMembers')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #memberForm="ngForm" (ngSubmit)="postMember()" novalidate>

          <!-- Email -->
          <div class="form-group">
            <label for="memberEmail">Correo Electrónico</label>
            <input type="email" class="form-control" id="memberEmail"
                   [(ngModel)]="newMember.email" name="memberEmail"
                   required placeholder="Ingrese el correo electrónico">
            <div *ngIf="memberForm.submitted && memberForm.controls['memberEmail']?.invalid" class="text-danger">
              El correo es requerido y debe ser válido.
            </div>
          </div>

          <!-- Permiso para ver lista de dispositivos -->
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="canViewDevices"
                   [(ngModel)]="newMember.canViewDevices" name="canViewDevices">
            <label class="form-check-label" for="canViewDevices">
              ¿Tiene permiso para ver la lista de dispositivos?
            </label>
          </div>

          <!-- Permiso para agregar dispositivos -->
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="canAddDevices"
                   [(ngModel)]="newMember.canAddDevices" name="canAddDevices">
            <label class="form-check-label" for="canAddDevices">
              ¿Tiene permiso para agregar dispositivos?
            </label>
          </div>

          <!-- Desea recibir notificaciones -->
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="receiveNotifications"
                   [(ngModel)]="newMember.receiveNotifications" name="receiveNotifications">
            <label class="form-check-label" for="receiveNotifications">
              ¿Quiere recibir notificaciones?
            </label>
          </div>

          <!-- Mensaje de retroalimentación -->
          <div *ngIf="feedback" class="alert alert-info">
            {{ feedback }}
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('addMembers')">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!memberForm.valid" (click)="saveMember()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalDevice" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfDeviceOpen" [style.display]="isModalOfDeviceOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'addDevice')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar dispositivo a la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('addDevice')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #deviceForm="ngForm" (ngSubmit)="postDevice()" novalidate>

          <div class="form-group">
            <label for="deviceId">Id del dispositivo:</label>
            <input type="number" class="form-control" id="deviceId"
                   [(ngModel)]="newDevice.deviceId" name="deviceId"
                   required placeholder="Ingrese el id del dispositivo">
            <div *ngIf="deviceForm.submitted && deviceForm.controls['deviceId']?.invalid" class="text-danger">
              El id del dispositivo es requerido y debe ser válido.
            </div>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isConnected"
                   [(ngModel)]="newDevice.isConnected" name="isConnected">
            <label class="form-check-label" for="isConnected">
              ¿Está conectado?
            </label>
          </div>

          <div *ngIf="feedback" class="alert alert-info">
            {{ feedback }}
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('addDevice')">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!deviceForm.valid" (click)="postDevice()">Guardar</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="myModalShowMembers" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfListOfMembersOpen" [style.display]="isModalOfListOfMembersOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'showMembers')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar Miembros de la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('showMembers')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nombre Completo</th>
            <th scope="col">¿Recibe Notificaciones?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of members">
            <td>{{ member.recivesNotifications }}</td>
            <td>
              <button class="btn" (click)="toggleNotification(member)">
                <i
                  class="fas"
                  [ngClass]="{
                'fa-bell text-success': member.recivesNotifications,
                'fa-bell-slash text-danger': !member.recivesNotifications
              }"
                ></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('showMembers')">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModalShowDevices" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="isModalOfListOfDevicesOpen" [style.display]="isModalOfListOfDevicesOpen ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'showDevices')">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar dispositivos de la casa {{ selectedHome?.id }}</h5>
        <button type="button" class="close" (click)="closeModal('showDevices')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">ID del Hardware</th>
            <th scope="col">Modelo</th>
            <th scope="col">¿Conectado?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let device of devices">
            <td>{{ device.name }}</td>
            <td>{{ device.hardwareId }}</td>
            <td>{{ device.model }}</td>
            <td>
              <i *ngIf="device.isConnected" class="fas fa-check text-success"></i>
              <i *ngIf="!device.isConnected" class="fas fa-times text-danger"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal('showDevices')">Cerrar</button>
      </div>
    </div>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>




