
.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal-open {
  overflow: hidden;
}

.card-title {
  font-weight: bold;
  color: #007bff;
}

.card-text {
  font-size: 14px;
  color: #6c757d;
}

.text-center {
  margin-top: 20px;
  font-size: 18px;
}

.card-body {
  flex-grow: 1;
  padding: 1.5rem;
}


button {
  font-size: 1rem;
}

