<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lista de Dispositivos</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="devices-list.component.css">
</head>
<body>

<header class="header">
  <div class="container text-center py-4">
    <h1 class="header-title">Lista de Dispositivos</h1>
  </div>
</header>

<div class="container my-5">
  <div class="back-btn">
    <button (click)="doNothing()" class="btn btn-light border rounded-circle shadow-sm">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let device of devices">
      <div class="card shadow-sm h-100">
        <img [src]="device.photoUrl" alt="{{ device.name }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ device.name }}</h5>
          <p class="card-text"><strong>Modelo:</strong> {{ device.model }}</p>
          <p class="card-text"><strong>Empresa:</strong> {{ device.companyName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
