<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="homePage.component.css">
</head>
<body>
<div class="welcome-container">
  <h1 class="welcome-title">Bienvenido a SmartHome</h1>
  <h1>Bienvenido a SmartHome</h1>
  <div class="button-container">
    <img alt="Logo de SmartHome" ngSrc="https://i.postimg.cc/kG8wN875/smarthomelogo.png" width="200" height="200">
    <p>¿Qué deseas hacer?</p>
    <button class="btn" (click)="goToLogin()">Iniciar Sesión</button>
    <button class="btn" (click)="goToRegister()">Registrarse como Dueño de Hogar</button>
  </div>
</div>
</body>
</html>
