<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="./administrator-panel.component.css">
</head>
<body>

<div class="welcome-container text-center mt-5">
  <h1 class="welcome-title">¡Hola, Administrador: {{userName}} !!</h1>
  <p>Bienvenido a la plataforma de gestión de administradores</p>

  <a class="btn btn-primary" (click)="goCreateAdmin()">
    <i class="bi bi-person-plus" ></i> Crear Administrador
  </a>

  <a class="btn btn-primary" (click)="goCreateAdmin()">
    <i class="bi bi-person-plus" ></i> Crear Dueño de Empresa
  </a>

  <a class="btn btn-primary" (click)="openModal('showUsers')">
    <i class="bi bi-list-ul" ></i> Listas Cuentas
  </a>

  <a class="btn btn-primary" (click)="openModal('showCompanies')">
    <i class="bi bi-list-ul" ></i> Listas Empresas
  </a>
</div>

<div class="modal fade" id="myModalShowUsers" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="modalShowUsers" [style.display]="modalShowUsers ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'showUsers')">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar usuarios</h5>
        <button type="button" class="close" (click)="closeModal('showUsers')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="filter-container row g-3 mb-3">
          <div class="col-12 mb-3">
            <input type="text" class="form-control" placeholder="Filtrar por nombre completo" [(ngModel)]="selectedFullName">
          </div>

          <div class="col-12 mb-3">
            <input type="text" class="form-control" placeholder="Filtrar por rol" [(ngModel)]="selectedRole">
          </div>

          <div class="col-12 mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Buscar</button>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Apellido</th>
            <th scope="col" class="text-center">Nombre Completo</th>
            <th scope="col" class="text-center">Fecha de cuenta</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.createdAt }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer d-flex flex-column align-items-center">
        <nav aria-label="Page navigation" class="mb-2">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="changePage(currentPage - 1)">Anterior</button>
            </li>
            <li class="page-item disabled">
              <span class="page-link">Página {{ currentPage }} de {{ totalPages }}</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="changePage(currentPage + 1)">Siguiente</button>
            </li>
          </ul>
        </nav>

        <button type="button" class="btn btn-secondary" (click)="closeModal('showUsers')">Cerrar</button>
      </div>


    </div>
  </div>
</div>

<div class="modal fade" id="myModalShowUsers" tabindex="-1" role="dialog" aria-hidden="true"
     [class.show]="modalShowUsers" [style.display]="modalShowUsers ? 'block' : 'none'"
     (click)="closeModalBackdrop($event, 'showCompanies')">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar usuarios</h5>
        <button type="button" class="close" (click)="closeModal('showCompanies')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="filter-container row g-3 mb-3">
          <div class="col-12 mb-3">
            <input type="text" class="form-control" placeholder="Filtrar por nombre completo" [(ngModel)]="selectedFullName">
          </div>

          <div class="col-12 mb-3">
            <input type="text" class="form-control" placeholder="Filtrar por rol" [(ngModel)]="selectedRole">
          </div>

          <div class="col-12 mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Buscar</button>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Apellido</th>
            <th scope="col" class="text-center">Nombre Completo</th>
            <th scope="col" class="text-center">Fecha de cuenta</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.createdAt }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer d-flex flex-column align-items-center">
        <nav aria-label="Page navigation" class="mb-2">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="changePage(currentPage - 1)">Anterior</button>
            </li>
            <li class="page-item disabled">
              <span class="page-link">Página {{ currentPage }} de {{ totalPages }}</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="changePage(currentPage + 1)">Siguiente</button>
            </li>
          </ul>
        </nav>

        <button type="button" class="btn btn-secondary" (click)="closeModal('showCompanies')">Cerrar</button>
      </div>


    </div>
  </div>
</div>


<!-- Enlace a Bootstrap JS y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


