/* Asegura que la página ocupe toda la altura */
html, body {
    height: 100%; /* Ocupa toda la ventana */
    margin: 0;
    padding: 0;
    background-color: #082849; /* Fondo azul oscuro */
  }
  
  /* Centrado del contenedor */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
  }
  
  .btn {
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin: 10px; /* Espaciado entre los botones */
  }
  
  /* Estilo del contenedor */
  .welcome-container {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    position: relative; /* Para posicionar elementos dentro del contenedor */
  }
  
  /* Estilo del título */
  .welcome-title {
    color: #6c5ce7;
    margin-bottom: 20px;
  }
  
  /* Estilo del botón */
  .btn-create-home {
    background-color: #6c5ce7;
    border-color: #6c5ce7;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
  }
  
  /* Espacio para el ícono de la casa */
  .btn-create-home i {
    margin-right: 10px;
  }
  
  /* Cambio de color en hover */
  .btn-create-home:hover {
    background-color: #5a4ec9;
    border-color: #5a4ec9;
  }

  