html, body {
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input-btn {
  font-weight: 0;
  font-size: 16px;
  padding: 9px 20px;
  height: 40px;
}
