/* styles.css */

/* Cambiar color de foco del select e input */
.form-select:focus,
.form-control:focus {
  border-color: #0d6efd; /* Azul Bootstrap */
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Mensaje de estado en azul */
.text-primary {
  color: #0d6efd !important;
}
